.filtersWrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20px;
    // max-height: 30px;
    margin: 70px 70px 10px 70px;
  
    > * {
      height: 28px;
      width: calc(50vw / 3);
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    border-width: 1px;

    }

  
      @media (max-width: 767.98px) {
        flex-direction: column;
        gap: 15px;
        max-height: 225px;

        > * {
          width: 100%
        }
      }
}